{{> head}}

{{> navbar}}

<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>Perros Unidos</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi ad provident quisquam? Ea repudiandae beatae rerum ab asperiores, quasi sunt porro quod ipsum, quis libero rem aperiam ut error provident.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/dogs.jpeg" class="img-thumbnail" alt="Perros juntos sentados en la arena">
        </div>
    </div>
</div>

{{> footer}}